<footer class="text-center p-2">
    <small>MATOS - IUT de Troyes - <a class="text-primary hover:underline" href="https://github.com/XariusExcl/matos" target="_blank">GitHub</a> - 2024 {% if is_granted("ROLE_USER") %}| Un bug ? <a class="text-primary hover:underline" href="mailto:jules.sabater@univ-reims.fr?subject=Bug sur Matos">Envoyez un mail</a>{% endif %}</small>
</footer>