<footer class="text-center p-2">
    <small>MATOS - 2024 - Un bug ? <a class="underline text-primary" href="mailto:jules.sabater@univ-reims.fr?subject=Bug sur Matos">Envoyez un mail</a></small>
</footer>