{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Tableau de bord{% endblock %}

{% block main %}
    <p>Bienvenue sur le back-office de Matos.</p>
    <p>Les emprunts en attente sont triés par date d'émission de la demande (le plus ancien en haut).</p>
    {{ render(controller('App\\Controller\\Admin\\LoanCrudController::loansPending')) }}
    <br/>
    {{ render(controller('App\\Controller\\Admin\\LoanCrudController::loansPendingReturn')) }}
{% endblock %}