@tailwind base;
@tailwind components;
@tailwind utilities;


.input-cards input[type=radio]{
    display: none;
  /*   margin-right: -20px;
    position: relative;
    z-index: 2; */
}

.input-cards input:checked + .card{
    outline: 4px oklch(var(--p)) solid;
}

input:disabled + .card {
  background-color: #0003;
}

/* doesnt work? */
input:disabled + .card figure {
  filter: grayscale(0.8);
}

input:disabled + label {
  color: grey;
}

.pending-reservation {
  background: repeating-linear-gradient(45deg, #00BE8F, #00BE8F 5px, #00BE8F00 6px, #00BE8F00 11px, #00BE8F 12px);
}

.table-vertical-lines {
  border-left: #0003 dashed 1px;
}

.table-horizontal-lines {
  border-top: #0003 dashed 1px;
}

.ud-content {
  display: none;
}

.ud:hover .ud-content {
  display: block;
}