{% extends "mailer/base.html.twig" %}
{% block body %}
    <h1>Bonjour {{ loaner.name??"" }} !</h1>
    <p>Vous avez fait une demande d'emprunt de matériel sur MATOS. Voici un récapitulatif de votre demande :</p>
    <p>Date de début de l'emprunt : <b>{{ loan.departureDate|date('d/m/Y H:i') }}</b></p>
    <p>Date de retour de l'emprunt : <b>{{ loan.returnDate|date('d/m/Y H:i') }}</b></p>
    <p>Matériel demandé :</p>
    <ul style="list-style-type: none;padding:0;">
        {% for equipment in loan.equipmentLoaned??"" %}
            <li style="margin-bottom: 10px;">
                <b>{{ equipment.name }}</b> 
            </li>
        {% endfor %}
    </ul>
    <p>Vous receverez un mail lorsque votre demande sera traitée.</p>
    <p>Si vous avez des demandes particulières, n'hésitez pas à nous contacter à l'adresse <a href="mailto:emprunt.mmi@gmail.com?subject=?subject=Question%20emprunt%20">emprunt.mmi@gmail.com</a>.</p>
    <p>À bientôt sur MATOS !</p>
{% endblock %}
