{% extends "mailer/base.html.twig" %}
{% block body %}
    <h1>Bonjour {{ name??"" }} !</h1>
    <p>Vous avez fait une demande d'emprunt de matériel sur MATOS pour le <b>{{ date_start|date('d/m/Y') }}</b></p>
    <p>Votre demande a malheureusement été refusée.</p>
    <p>Motif :</p>
    <p>{{ reason }}</p>
    <p>Si vous avez des questions, n'hésitez pas à nous contacter à l'adresse <a href="mailto:matos@mmi-troyes.fr?subject=?subject=Question%20emprunt%20">matos@mmi-troyes.fr</a>.</p>
    <p>À bientôt sur MATOS.</p>
{% endblock %}

