{% extends "mailer/base.html.twig" %}
{% block body %}
    <h1>Bonjour {{ loaner.name??"" }} !</h1>
    <p>Vous avez fait une demande d'emprunt de matériel sur MATOS pour le <b>{{ loan.departureDate|date('d/m/Y H:i') }}</b></p>
    <p>Votre demande a malheureusement été refusée.</p>
    <p>Motif :</p>
    <p>{{ loan.comment }}</p>
    <p>Si vous avez des questions, n'hésitez pas à nous contacter à l'adresse <a href="mailto:emprunt.mmi@gmail.com?subject=?subject=Question%20emprunt%20">emprunt.mmi@gmail.com</a>.</p>
    <p>À bientôt sur MATOS.</p>
{% endblock %}

